<h1>{{title}}</h1>
<img src="/images/logo.png" alt="Application Logo" class="center">

{{> header }}

<form method="post" action="/taxes/save">
    <input type="hidden" name="saveMethod"
           value="{{#if isCreate}}create{{else}}update{{/if}}"/>
    <p>
        Key: {{ taxKey }}
        <input type="hidden" name="taxKey" value="{{ taxKey }}"/>
    </p>
    <p>
        Business Name:<br/>
        <input type="text" name="title" value="{{ taxTitle }}"/><br/>
    </p>
    <p>
        Receipts:<br/>
        <textarea rows=5 cols=40 name="body"></textarea><br/>

        Deductions:<br/>
        <textarea rows=5 cols=40 name="body"></textarea><br/>

        <input type="submit" value="Submit"/>
    </p>
</form>