<img src="/assets/images/logo.png" alt="Application Logo" class="img-fluid center">

<form method="post" action="/taxes/save">
    <div class="container-fluid">
        <input type="hidden" name="saveMethod"
               value="{{# if isCreate }}create{{ else }}update{{/ if }}"/>
        <div class="form-group row justify-content-center">
            <input type="hidden" name="taxId" value="{{ taxId }}"/>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-1 text-left font-weight-bold" for="title">Business: </label>
            <div class="col-sm-5">
                <input class="form-control" type="text" name="title" placeholder="Enter business name" value="{{ taxTitle }}"/>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-1 text-left font-weight-bold" for="body">Receipts: </label>
            <div class="col-sm-5">
                <textarea class="form-control" rows=5 name="body" placeholder="Enter receipts">{{ taxBody }}</textarea>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-1 text-left font-weight-bold" for="body2">Exemptions: </label>
            <div class="col-sm-5">
                <textarea class="form-control" rows=5 name="body2" placeholder="Enter all available exemptions">{{ taxBody2 }}</textarea>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <!--<div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-1 text-left font-weight-bold" for="month">Month: </label>
            <div class="col-sm-5">
                <input class="form-control" type="month" value="2020-11" id="month">
            </div>
            <div class="col-sm-1"></div>
        </div>-->

        <div class="form-group row justify-content-center">
            <input class="mt-3 btn btn-outline-light" type="submit" value="Submit">
        </div>
    </div>
</form>